/* line 7, ../sass/theme.scss */
body {
  font-family: "helvetica neue", arial, helvetica, freesans, "libaration sans", "numbus sans l", sans-serif;
}

/* line 4, ../sass/lists.scss */
#sidebar {
  background: #3f749a;
  color: #fff;
  overflow: auto;
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
}
/* line 14, ../sass/lists.scss */
#sidebar ul li {
  display: block;
}
/* line 16, ../sass/lists.scss */
#sidebar ul li a {
  margin-left: 0em;
  margin-right: 0em;
  width: 75%;
  font-size: 12px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  background-color: #3f749a;
  background-color: #3f749a;
  border: 0;
  color: white;
  text-shadow: #1a3040 0 -1px 0;
  text-decoration: none;
}
/* line 34, C:/Ruby193/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.9/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sidebar ul li a:hover {
  background-color: #386688;
}
/* line 36, C:/Ruby193/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.9/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#sidebar ul li a:active {
  background-color: #335e7d;
}
